@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/media/404_donkey.jpg);
  background-position: center;
}
html main, body main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
html main > div, body main > div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}
html main > div h1, body main > div h1 {
  font-family: "Oswald", serif;
  margin: 0;
}
html main > div p, body main > div p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
html main > div span.highlight, body main > div span.highlight {
  color: #FF6E34;
}
html main > div i, body main > div i {
  font-size: 4em;
  color: #FFEA67;
}

@media only screen and (max-width: 600px) {
  main > div {
    display: block !important;
  }
  main > div div {
    text-align: center;
    margin: 15px;
  }
  main > div i {
    font-size: 2.5em;
  }
}
