@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

@keyframes fill-left {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes opp-fill-left {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: 'Ubuntu', sans-serif;

    header {
        padding: 5px 0;
        background-color: #110520;
        color: #F0E5FF;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h1 {
            font-weight: normal;
            font-family: 'Oswald', sans-serif;
            margin: 0;
            margin-bottom: 5px;
            font-size: 3em;
            text-transform: uppercase;

            & > div {
                display: inline-block;
            }

            b {
                color: #862CFF;
            }
        }

        i {
            font-size: 3em;
            transition: .3s ease;

            &:hover {
                opacity: .8;
            }
        }
    }

    article {
        .content {
            max-width: 60%;
            margin: 0 auto;
            padding: 10px;

            .task-desc {
                border-bottom: 2.5px solid #ededed;
                margin-bottom: 25px;
                padding-bottom: 15px;

                h2 {
                    font-size: 1.8em;
                    font-family: 'Oswald', sans-serif;
                    margin: 22.5px 0;
                }
            }
            
            form {
                #ans-in {
                    width: 100%;
                    box-sizing: border-box;
                    border: 1.5px solid #f2f2f2;
                    border-left: 2.5px solid #444;
                    border-radius: 4px;
                    resize: none;
                    padding: 10px;
                    font-family: 'Ubuntu Mono', monospace;
                    font-size: 1em;
                    font-weight: lighter;
                    transition: .3s ease;

                    &:hover {
                        transform: scale(1.01);
                    }
    
                    &:focus {
                        outline: none;
                        transform: scale(1.02);
                    }
                }
    
                input[type="submit"] {
                    font-family: 'Ubuntu', sans-serif;
                    box-sizing: border-box;
                    width: 100%;
                    margin-top: 2.5px;
                    border: 1.5px solid #862CFF;
                    border-radius: 2px;
                    padding: 7.5px;
                    background-color: rgba(0,0,0,0);
                    color: #862CFF;
                    
                    background-position: 100% 0%;
                    background-size: 200% 100%;
                    background-image: linear-gradient(to right, rgba(134, 44, 255, 0.1) 0% 48%, rgba(0,0,0,0) 52% 100%);
                    
                    animation: opp-fill-left .15s;
                    transition: .3s ease;

                    &:hover, &:focus {
                        outline: none;
                        cursor: pointer;
                        background-position: 0% 0%;
                        animation: fill-left .2s;
                        transform: scale(1.02);
                    }
                }
            }

            .task-reso {
                border-top: 3px solid #ededed;
                margin-top: 25px;
                padding-top: 15px;
                padding-bottom: 20px;
                // max-height: 0;
                // overflow: hidden;
                // transition: max-height .5s ease;

                #reso-out {
                    font-family: 'Ubuntu Mono', monospace;
                    text-align: left;
                    padding: 10px;
                    box-sizing: border-box;
                    width: 100%;
                    border-left: 2.5px solid #FF2C5F;
                    // #2CFF51, #FF2C5F
                }

                .buttons-wrapper {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;

                    #reso-next, #reso-bug {
                        display: inline-block;
                        font-size: 1.2em;
                        color: #862CFF;
                        border: 1.5px solid #862CFF;
                        border-radius: 50%;
                        margin: 0 1.5px;
    
                        background-position: 100% 0%;
                        background-size: 200% 100%;
                        background-image: linear-gradient(to right, rgba(134, 44, 255, 0.1) 0% 48%, rgba(0,0,0,0) 52% 100%);
                        
                        animation: opp-fill-left .15s;
                        transition: .3s ease;
    
                        &:hover, &:focus {
                            outline: none;
                            cursor: pointer;
                            background-position: 0% 0%;
                            animation: fill-left .2s;
                            transform: scale(1.05);
                        }
                    }

                    #reso-bug {
                        padding: 5px 6px;
                    }

                    #reso-next {
                        padding: 5px 5px 5px 7.5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        h1 {
            font-size: 2.2em !important;
            padding: 0 15px;
        }
        i {
            display: none !important;
        }
    }

    article {
        .content {
            max-width: 85% !important;
        }
    }
}